################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MainProgram/obj
/MainProgram/WebContent/node_modules